<launch>
  <node pkg="sensor_startup" type="motor_reader_node" name="motor_reader_node" output="screen">
    <param name="port" value="ttyUSB0"/>
    <param name="state_topic" value="motor_state"/>
    <param name="file_address" 
      value="/home/renov_robot/renov_ws/src/renov_robot/sensor_startup/config/motor_config.yaml"/>
    <param name="delay_time" value="0"/>
    <param name="wait_time" value="-1"/>
    <param name="state_pub_period" value="0.1" />
    <param name="use_pack_data" value="false" />
    <param name="if_debug" value="true" />
  </node>

</launch>
